---
http_interactions:
- request:
    method: get
    uri: https://openshiro.com/api/v1/deployments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SHIRO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df6856bf370905f0b5233c2350b8e440"
    body:
      encoding: UTF-8
      string: '[{"id":"dpmt_o6drBgMEZv9YmU9vYjb5QwxR","name":"Categorization","environment_type":{"id":"env_ZWaJKVvg9wQEAILwnNqxk0zy","object":"environment_type","name":"PRODUCTION"},"created_at":1707946238,"updated_at":1707946238,"url":"https://openshiro.com/api/v1/deployments/dpmt_o6drBgMEZv9YmU9vYjb5QwxR"}]'
  recorded_at: Sun, 25 Feb 2024 07:30:18 GMT
recorded_with: VCR 6.2.0
