---
http_interactions:
- request:
    method: patch
    uri: https://openshiro.com/api/v1/deployments/<SHIRO_DEPLOYMENT_ID>
    body:
      encoding: UTF-8
      string: '{"name":"Updated Deployment Name"}'
    headers:
      Authorization:
      - Bearer <SHIRO_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c87bc2c44f7f1903b49ac02299e8bf7a"
    body:
      encoding: UTF-8
      string: '{"id":"<SHIRO_DEPLOYMENT_ID>","name":"Updated Deployment Name","environment_type":{"id":"env_ZWaJKVvg9wQEAILwnNqxk0zy","object":"environment_type","name":"PRODUCTION"},"created_at":1707946238,"updated_at":1708928658,"url":"https://openshiro.com/api/v1/deployments/<SHIRO_DEPLOYMENT_ID>"}'
  recorded_at: Mon, 26 Feb 2024 06:24:18 GMT
recorded_with: VCR 6.2.0
