---
http_interactions:
- request:
    method: get
    uri: https://openshiro.com/api/v1/deployments/<SHIRO_DEPLOYMENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SHIRO_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5d4652949327f6cd4f954400df309967"
    body:
      encoding: UTF-8
      string: '{"id":"<SHIRO_DEPLOYMENT_ID>","name":"Categorization","environment_type":{"id":"env_ZWaJKVvg9wQEAILwnNqxk0zy","object":"environment_type","name":"PRODUCTION"},"created_at":1707946238,"updated_at":1707946238,"url":"https://openshiro.com/api/v1/deployments/<SHIRO_DEPLOYMENT_ID>"}'
  recorded_at: Mon, 26 Feb 2024 05:59:30 GMT
recorded_with: VCR 6.2.0
