---
http_interactions:
- request:
    method: post
    uri: https://openshiro.com/api/v1/generate_completion
    body:
      encoding: UTF-8
      string: '{"deployment_id":"dpmt_o6drBgMEZv9YmU9vYjb5QwxR","environment":"PRODUCTION","prompt_id":"prmt_6q9JKvEmp5LPxub5ONgawnrB","input_variables":{"review_text":"I
        loved the movie."}}'
    headers:
      Authorization:
      - Bearer <SHIRO_API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fd68791208451c24a3ba8a8d0a590581"
    body:
      encoding: UTF-8
      string: '{"content":"Positive"}'
  recorded_at: Mon, 26 Feb 2024 05:37:46 GMT
recorded_with: VCR 6.2.0
